//screen
$screen-lg: 1200px;

//colors

$primary-color-text: antiquewhite;
$primary-color: #1E1E1E;
$secondary-color: #282C33;

input{
  outline: none;
  border: none;
}
textarea {
  outline: none;
  resize: none;
  box-sizing: border-box !important;
}




